<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScodeProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED4889CE22635B9900B51FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4889E622635B9C00B51FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED4889F122635B9C00B51FCB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
